#files to ignore
#Various artifacts
.metadata/
*/.classpath
*/.project
*/.settings/
*/bin/
*.swp
**/._*

# Oversize files (must be created locally)
DigitRecognizer/data/test.mat
DigitRecognizer/data/train.mat
